﻿
@{
    ViewBag.Title = "Abonamenty";
}

<h1 style="text-align:center; font-size:48px">Abonamenty</h1>
 <div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">

                <div class="col-sm-5 col-md-3">
                    <div class="panel panel-danger testing">
                        <div class="panel-heading">
                            <h3 class="text-center"> Miesiąc</h3>
                            <p class="text-center"></p>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead" style="font-size: 30px; color:#000;"><strong>99zł/300dni</strong></p>
                            <p class="lead" style="font-size: 12px; color:#000;">(121,77 z VAT)</p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class=" list-group-item">
                                <span class="glyphicon glyphicon-calendar"></span><p style="color:#333;"> rabat 0% </p>
                                <p style="color:#333">Oszczędzasz 0zl</p>
                            </li>
                            <li class="list-group-item">
                                <p style="color:#000; font-size:14px;">Okres użytkowania 30 dni</p>
                            </li>
                            <li class="list-group-item">
                                <p style="color:#000; font-size:12px">pełna pomoc techniczna w okresie trwania umowy</p>
                                </li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-danger" href="#">Zamów i opłać</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5 col-md-3">
                    <div class="panel panel-info testing">
                        <div class="panel-heading">
                            <h3 class="text-center">Kwartał</h3>
                            <p class="text-center"></p>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead" style="font-size:30px;color:#000;"><strong>267,30zł/ 90dni</strong></p>
                            <p class="lead" style="font-size:12px;color:#000;">(328,78zł z VAT)</p>

                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-calendar"></span><p style="color:#333;"> rabat 10% </p>
                                <p style="color:#333;"> oszczędzasz 29,70zł </p>
                            </li>
                            <li class="list-group-item">
                                <p style="color:#000; font-size:14px;"> okres użytkowania 90 dni</p>
                            </li>
                            <li class="list-group-item">
                                <p style="color:#000; font-size:12px;"> pełna pomoc techniczna w okresie trwania umowy</p>
                        </ul>
                        <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">Zamów / opłać</a> </div>
                    </div>
                </div>

                <div class="col-sm-5 col-md-3">
                    <div class="panel panel-success testing">
                        <div class="panel-heading">
                            <h3 class="text-center">Pół roku</h3>
                            <p class="text-center"></p>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead" style="font-size:30px;color:#000;"><strong>475,20zł/ 180dni</strong></p>
                            <p class="lead" style="font-size:12px;color:#000;">(584,50zł z VAT)</p>

                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-calendar"></span><p style="color:#333;"> rabat 20% </p>
                                <p style="color:#333;"> oszczędzasz 118,80zł </p>
                            </li>
                            <li class="list-group-item">
                                <p style="color:#000; font-size:14px;"> okres użytkowania 180 dni</p>
                            </li>
                            <li class="list-group-item">
                                <p style="color:#000; font-size:12px;"> pełna pomoc techniczna w okresie trwania umowy</p>
                                </li>
                        </ul>
                        <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">Zamów / opłać</a> </div>
                    </div>
                </div>

                <div class="col-sm-5 col-md-3">
                    <div class="panel panel-warning testing">
                        <div class="panel-heading">
                            <h3 class="text-center">Rok</h3>
                            <p class="text-center"></p>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead" style="font-size:30px;color:#000;"><strong>831,60/ 365dni</strong></p>
                            <p class="lead" style="font-size:12px;color:#000;">(1022,87zł z VAT)</p>

                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-calendar"></span><p style="color:#333;"> rabat 30% </p>
                                <p style="color:#333;"> oszczędzasz 356,40zł </p>
                            </li>
                            <li class="list-group-item">
                                <p style="color:#000; font-size:14px;"> okres użytkowania 365 dni</p>
                            </li>
                            <li class="list-group-item">
                                <p style="color:#000; font-size:12px;"> pełna pomoc techniczna w okresie trwania umowy</p>
                                </li>
                        </ul>
                        <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">Zamów / opłać</a> </div>
                    </div>
                </div>
            </div>
        </div>
<div class="row">

            <div class="col-md-12">
                <div class="panel-footer" style="background-color:#000; opacity:0.70; color:darkgray ">
                    Podczas zamawiania decyduje kolejność zgłoszeń.
                    Jeżeli przelejesz do nas środki gdyż adres był wyświetlany jako wolny a ktoś zrobił to przed Tobą. Całość wpłaconej kwoty zwrócimy na Twoje konto w ciągu 24 godzin.
                </div></div></div>      
</div></div>