﻿
@{
    ViewBag.Title = "Info";
}

<h2 style="text-align: center; font-size:48px">Informacje</h2>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="thumbnail">
                <p>Obsługujemy już kilkadziesiąt&nbsp;skład&oacute;w węgla w całej Polsce<br />Postaw na godną zaufania firmę i sprawdzone oprogramowanie kt&oacute;re na bieżąco rozwija się dla potrzeb Twoich i Twoich klient&oacute;w.</p>
                <p>Zostań naszym partnerem</p>
                <p><strong>Twoje obowiązki w ramach partnerstwa z naszą firmą:</strong></p>
                <p>- regularnie opłacasz abonament</p>
                <p><br /><strong>Od nas w ramach abonamentu otrzymasz:</strong></p>
                <p><br />- adres internetowy w mieście w kt&oacute;rym prowadzisz swoją działalność na cały okres wsp&oacute;łpracy;<br />- przystosowaną do pozycjonowania stronę internetową kt&oacute;ra szybko osiąga wymierne pozycje w google co znacznie wpłynie na Twoją sprzedaż;<br />- pełną autonomię w ustalaniu cen oraz brak prowizji od sprzedaży;<br />- skrzynkę e-mail w domenie Twojego składu<br />- panel administracyjny umożliwiający niemal pełną aktualizację strony (galerii, oferty opis&oacute;w) w dowolnym momencie;<br />- bezpłatny support techniczny w całym okresie trwania umowy;<br />- bezpłatne aktualizacje systemu;<br />- dostosowanie systemu do potrzeb rynku i trend&oacute;w internetowych;<br />- brak dodatkowych opłat, w pełni pokrywamy koszty utrzymania adres&oacute;w oraz ich hostingu;<br />- kopię bezpieczeństwa danych wykonywaną 2 razy dziennie;<br />- naszą entazjustyczną reakcję na wszelkie uwagi co nowego powinniśmy wprowadzić by bardziej dostosować się do Ciebie i potrzeb Twojego rynku zbytu</p>
                <p>Dlaczego warto?</p>
                <p>Znamy Twoją konkurencję i specyfikę klient&oacute;w z kt&oacute;rymi pracujesz na przykładzie całej Polski. <br />Mamy doświadczenie, kt&oacute;re pozwala nam się dostosować wymagań stawianych nie tylko przez Ciebie, ale i Twoich klient&oacute;w.<br /><br /></p>
            </div>
        </div>
    </div>
</div>