﻿
@{
    ViewBag.Title = "Kontakt";
}

<h2 style="text-align: center; font-size:48px">Kontakt</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="thumbnail">
                    <p style="text-align: center"><strong>Kontakt</strong></p>
                    <p><strong>Skontaktuj sie z nami</strong></p>
                    <p>Adres Mailowy: xxxxxx@wp.pl</p>
                    <p>Siemianowice 78-332 Dziwnów główna 53a</p>
                    <br>
                    <p>tel 600-600-600</p>
                </div>
            </div>
        </div>
    </div>
</div>