﻿
@{
    ViewBag.Title = "Lokalizacje";
}

<h2 style="text-align:center; font-size:48px">Lokalizacja</h2>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-6">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1274.1364690495302!2d19.02731375832772!3d50.30549840797533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716d1915403d325%3A0xf71d0c91edbb9153!2sJana%20Paw%C5%82a%20II%2010%2C%2041-100%20Siemianowice%20%C5%9Al%C4%85skie!5e0!3m2!1spl!2spl!4v1620290238315!5m2!1spl!2spl" style="border:0; width:100%; min-height:250px; height:100%" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="col-md-6">
                <strong style="font-size: 36px;">Siemianowice Śląskie</strong>
                <p style="font-size: 24px;">Kod pocztowy 41-100 Jana Pawła II</p>
                <p style="font-size: 24px;">ul. Jana Pawła II 10</p>

            </div>
        </div>
    </div>
</div>
    
