﻿
@{
    ViewBag.Title = "o Firmie";
}

<h2 style="text-align: center; font-size:48px">Dowiedz się o nas więcej</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="thumbnail">
                    <p style="text-align: center"><strong>O firmie</strong></p>
                    <p><strong>Strona ma charakter demonstracyjny systemu do obsługi składów węgla / opału. </strong></p>
                    <p>Jeżeli prowadzisz skład opału w tej miejscowości skontaktuj się z nami.</p>
                    <p>Jeśli nasza oferta nie będzie dla Ciebie zadowalająca możesz z niej zrezygnować nie podając przyczyny.</p>
                    <p>Wiecej znajdziesz w zakładce informacje na bieżącej stronie</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
</div>