﻿
@{
    ViewBag.Title = "Transport";
}

<h2 style="text-align:center; font-size:48px">Transport</h2>

<div id="map_transport" style="border: 1px solid black">
<script>
      // This example creates circles on the map, representing populations in North
      // America.

      // First, create an object containing LatLng and population for each city.
      var citymap = {
        strefa1: {
          center: {lat: 51.2733214, lng: 16.3713329},
          population: 15000,
          kolorek: '#ff0000',
		  stroke: '#FF0000',

        },
        strefa2: {
          center: {lat: 51.2733214, lng: 16.3713329},
          population: 30000,
          kolorek: '#002aff',
		  stroke: '#002aff',


        },
        strefa3: {
          center: {lat: 51.2733214, lng: 16.3713329},
          population: 50000,
          kolorek: '#1c8200',
		  stroke: '#1c8200',

        }
      };

      function initMap() {
        // Create the map.
        var map = new google.maps.Map(document.getElementById('map_transport'), {
          zoom: 10,
          center: {lat: 51.2733214, lng: 16.3713329},
          mapTypeId: 'terrain'
        });

        // Construct the circle for each value in citymap.
        // Note: We scale the area of the circle based on the population.
        for (var city in citymap) {
          // Add the circle for this city to the map.
          var cityCircle = new google.maps.Circle({
            strokeColor: citymap[city].stroke,
            strokeOpacity: 0.8,
            strokeWeight: 2,
			            fillColor: citymap[city].kolorek,
            fillOpacity: 0.35,
            map: map,
            center: citymap[city].center,
            radius: Math.sqrt(citymap[city].population) * 100
          });
        }
      }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTz48wlYT8gm00e3DzdpkIW6_iGhXWEbQ&callback=initMap">
</script>
    </div>
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map_transport {
        height: 350px;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<br>
<br>
<br>
<br>
<div class="row">
        <div class="col-md-4" style="padding-left:50px"><img src="http://assets.tnm.pl/img/small_red.jpg" alt="strefa czerwona"> - <strong>30zł brutto</strong> </div>
        <div class="col-md-4" style="padding-left:150px"><img src="http://assets.tnm.pl/img/small_blue.jpg" alt="strefa niebieska"> - <strong>50zł brutto</strong></div>
        <div class="col-md-4" style="padding-left:200px"><img src="http://assets.tnm.pl/img/small_green.jpg" alt="strefa zielona"> - <strong>70zł brutto</strong></div>

    </div>
