﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-image: url(https://assets.tnm.pl/wegiel_bg/bg5.jpg);background-size: cover;">
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/Logo.png" height="100" width="100" alt="węgiel Prochowice" style="margin-left: 50px;margin-top:20px; ">
            <h1 style="font-size:24px;text-align:right ;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:black">@Html.ActionLink("Skład węgla i opału prochowice", "Index", "Home",null, new {@class = "Konstant" })</h1>
        </div>
        <div class="col-md-8" style="padding-top: 20px;">
            <nav class="navbar navbar-default navbar-left">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarek">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarek">
                        <ul class="nav navbar-nav">

                            <li>@Html.ActionLink("O Nas","oFirmie","Home")</li>
                            <li>@Html.ActionLink("Informacje", "Info", "Home")</li>
                            <li>@Html.ActionLink("Lokalizacje", "Lokalizacje", "Home")</li>
                            <li>@Html.ActionLink("Abonamenty", "Abonamenty", "Home")</li>
                            <li>@Html.ActionLink("Transport", "Transport", "Home")</li>
                            <li>@Html.ActionLink("Kontakt", "Kontakt", "Home")</li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div >
        @RenderBody()
        <hr />
        <footer>
            <div class="panel panel-default panel-footer" style="height:50px; padding:10px; color: black; text-align: center;">
                <p>Wykonanie Kacper Wenta &copy @DateTime.UtcNow.Year</p>
            </div>
    </footer>
    </div>
</div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
