﻿
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
    
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}
.navbar-default .navbar-nav > li > a{
    color: #FFF;
    font-size: 0.9em;
    margin-right: 3px;
    border-radius: 0px 5px;
    -moz-border-radius: 0px 5px;
    -webkit-border-radius: 0px 5px;
    border: 1px solid #ff0000;
    background-color: rgb(0,0,0,0.7);
    font-weight: bold;
}
ul.nav a:hover {
    color: #000 !important;
    background-color: #FFF !important;
}

navbar-header{
    color: #F00;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}
.navbar-nav > li > a {
    color: #FFF;
}
.panel-default {
    background-color: rgba(0, 0, 0, 0.1);
}
.container {
    background-color: #FFF;
    background-color: rgb(0, 0, 0.7);
    background-color: rgba(209, 209, 209, 0.7);
    border: solid;
    border-color: #FF6600;
    min-height:300px;
    max-width: 1170px;
}
.navbar-default{
    background-color: transparent !important;
    border: none !important;
}
.thumbnail {
    background-color: rgba(0,0,0,0.7);
    font-size: 1.1em;
    color: #FFF;
    font-family: 'Calibri', Arial, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}
.Konstant {
    color: black;
}
.testing {
    max-width: 300px!important;
}